html,
body {
  height: 100%;
  background-image: url("../background.jpg");
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
  
}
.title{
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;

}
.login{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin:auto;
    margin-top:5%;
    
}
.login input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .login input[type="password"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
.login .form:focus{
    z-index: 2;
}
.login .form{
  width: 100%;
    position: relative;
box-sizing: border-box;
height: auto;
padding: 10px;
font-size: 16px;
}
@keyframes oxxo{
  0%{
    left:0;
    background:#f00;
}
25%{
    left:50px;
    background:#0f0;
}
50%{
    left:100px;
    background:#00f;
}
75%{
    left:150px;
    background:#ff0;
}
100%{
    left:200px;
    background:#000;
}
}
#mychat{
  position:relative;
    left:0;
    width:50px;
    height:50px;
    background:#f00;
    animation-name:oxxo;
    animation-duration:2s;
    animation-iteration-count:infinite;
    
}
h1 {
  color:seashell;
  position:absolute;
  animation-duration: 3s;
  animation-name: slidein;
  margin-left:5%;
  margin-bottom:10%;
}

@keyframes slidein {
  from {
    top: -100%;
    width: 100%;
  }

  to {
    top: 20%;
    width: 100%;
  }
}